
@link-font-size: 13px; 
@padding: 0 20px;
@georgiaFontFam: 'Georgia';
@MontserratFontFam: 'Montserrat';

*h5 {
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e1d33;
  overflow: hidden;
  transition: background-color 300ms ease-in;

  .section-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 80vh;
    width: 80%;

    .model-image {
      flex: 1 1;
      min-width: 350px;
      position: relative;
      height: 100%;
      width: 100%;

      nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 180px;
        height: 97px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: @MontserratFontFam;
        font-size: 17;
        z-index: 10000;
      }
        img {
          height: 100%;
        }
    }

    .model-info {
      flex: 1 1;
      height: 100%;
      min-width: 350px;
      display: flex;
      flex-direction: column;
      position: relative;

      section.model-info-wrapper {
        background: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

          header {
            white-space: nowrap;
            color: #191919;
            font-family: @MontserratFontFam;
            font-size: 10px;
            font-weight: 500;
            width: 100%;
            padding: 20px;
            height: 10%;
          }

          section.nav-and-details {
            height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        

            nav.details-nav {
              margin: 0 75px;
              width: 80%;
              height: 25px;

              ul {
                padding: 0;
                list-style-type: none;
                position: relative;
                
                li {
                  display: inline;
                  padding: 20px;
                  font-size: 12px;
                  font-family: @georgiaFontFam;
                }
               }

               ul li:last-child {
                position: absolute;
                right: 0;
                top: -28px;
                font-size: 30px;
               }
            }

            section.model-name {
              margin: 5px 75px;
              padding: 20px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              position: relative;
              width: 75%;
              height: 25%;
              
            div > h1 {
                width: 100px;
                margin: 5px 0;
                font-size: 61px;
                color: #141414;
                font-weight: normal;
                font-family: @georgiaFontFam;
              }

              h5 {
                font-family: @georgiaFontFam;
                color: #4e4e4e;
                font-size: 15px;
              }
            }

          }
          section.instagram-and-carousel-control {
            width: 100%;
            display: flex;
            align-items: center;
            height: 30%;
            nav {
              transform: rotate(270deg);
            }

            .carousel-control {
              width: 90%;
              display: flex;

              .control-wrapper {
                height: 50px;
                border-radius: 5px;
                width: calc(90% / 4);
                display: flex;
                align-items: center;

                .control-wrapper-inner {
                  width: 100%;
                  background: black;
                  height: 1px;
                  display: flex;
                  align-items: center;
                  
                  .current-slide {
                    text-decoration: none;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                                        
                      .next-previous {
                        font-family: @georgiaFontFam;
                        font-size: 11px;
                        font-weight: normal;
                        font-style: italic;
                        color: #484646;
                        white-space: nowrap;
                      }
                      
                      .divider {
                        height: 3px;
                        border-radius: 5px;
                        box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.16);
                        background-color: black;
                        margin-top: -6px;
                      }
    
                      .count, .next-previous { margin-left: 20px; }
                      .count, .next-previous, .divider { 
                        &.hide {
                          visibility: hidden;
                          width: 100px;
                        }
                       }
                  }
                }

              }
            }
          }

      }

      footer {
        height: 100px;
        width: 100%;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;

        h5 {
          padding: 30px;
          font-family: @georgiaFontFam;
          font-size: 15px;
          font-weight: normal;
        }
      }
    }
  }
}