
<main [ngStyle]="{'background-color': currentSlide.bgColor}">
  <section class="section-wrapper">

    <article class="model-info">
      <section class="model-info-wrapper">
        <header>PRINCE AKACHI</header>

        <section class="nav-and-details">
          <nav class="details-nav">
            <ul>
              <li>Session</li>
              <li>Extra</li>
              <li>+</li>
            </ul>
          </nav>

          <section class="model-name">
            <div>
              <h1>{{currentSlide.modelfName}}</h1>
              <h1>Christelle</h1>
            </div>
            <h5>Model</h5>

          </section>
        </section>

        <section class="instagram-and-carousel-control">
          <nav> Instagram</nav>
          <div class="carousel-control">
            <ng-container *ngFor="let slide of slides; let slideIndex = index">
            <div class="control-wrapper" (click)="handleSliderClick(slideIndex)">
              <div class="control-wrapper-inner">
                <a class="current-slide" *ngIf="currentSlideIndex === slideIndex" >
                    <div class="count" >{{slide.count}}/{{lastSlideCount}}</div>
                    <div class="divider"></div>
                    <div class="next-previous">Next Picture</div>
                </a>
              </div>
              </div>
              </ng-container>
          </div>
        </section>
        
        <footer>
          <h5>Nigeria, Lagos <br><br>Model</h5>
        </footer>
      </section>
    </article>

    <article class="model-image">
      <nav>MENU</nav>
        <ng-container *ngFor="let slide of slides; let imageIndex = index">
          <img src={{slide.img}} alt="slide.modelName" *ngIf="slide.active">
        </ng-container>
   </article>
  </section>
</main>
