
<main [ngStyle]="{'background-color': currentSlide.bgColor}">
  <section class="section-wrapper">

    <article class="model-info">
      <section class="model-info-wrapper">
        <header>PRINCE AKACHI</header>

        <section>
          <nav class="details-nav">
            <ul>
              <li>Session</li>
              <li>Extra</li>
              <li>+</li>
            </ul>
          </nav>

          <section class="model-name">
            <div>
              <h1>Belinda</h1>
              <h1>Christelle</h1>
            </div>
            <h5>Model</h5>

          </section>
        </section>

        <section class="instagram-and-carousel-control">
          <nav> Instagram</nav>
          <div class="carousel-control">
            <div class="control-wrapper">
              <ng-container *ngFor="let slide of slides; let currentSlideIndex = index">
                <a class="current-slide" (click)="handleSliderClick(currentSlideIndex)">
                  <div class="count" [ngClass]="{'hide': !slide.active}">{{slide.count}}/{{lastSlideCount}}</div>
                  <div class="divider" [ngClass]="{'hide': !slide.active}"></div>
                  <div class="next-previous" [ngClass]="{'hide': !slide.active}">Next Picture</div>
                </a>
              </ng-container>
            </div>
          </div>
        </section>
        
        <footer>
          <h5>Nigeria, Lagos <br><br>Model</h5>
        </footer>
      </section>
    </article>

    <article class="model-image">
      <nav>MENU</nav>
      <img *ngIf="currentSlide" src={{currentSlide.img}} alt="currentSlide.modelName" [ngClass]="{'active': currentSlide.active}">
   </article>
  </section>
</main>
